.text__greeting {
  font-size: 10rem;

  @media (max-width: 800px) {
    font-size: 8rem;
  }

  @media (max-width: 600px) {
    font-size: 4rem;
  }
}

.container__text-block {
  padding: 40px 0;
  background: linear-gradient(-45deg, #fa663d, #7f22a0, #810ebf, #cb7709);  
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;

  @media (max-width: 600px) {
    padding: 80px 0;
  }
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

