.text__greeting {
  font-size: 10rem; 
  background: white;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;

  &::before {
    content: '';
    position: absolute;
    filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    background: linear-gradient(-45deg, #ffae00, #a70497, #7503b3, #ff9900);  
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
  }

  @media (max-width: 800px) {
    font-size: 8rem;
  }

  @media (max-width: 600px) {
    font-size: 4rem;
  }
}

.text-section {
  padding: 30px 0;
  

  @media (max-width: 600px) {
    padding: 80px 0;
  }
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}



