  .country-header {
  background-image: url('../../assets/main_header.jpg');
  width: 100%;
  height: 100vh;
  background-position: 50%;
  background-size: cover;
  padding: 250px 0;

  &__title {
    font-size: 7rem;
    line-height: 70px;
    margin-bottom: 10px;

    @media (max-width: 600px) {
      font-size: 5rem;
      line-height: 50px;
    }
  }
}

.country-header__name {
  font-size: 14rem;
}

.country-header__capital {
  font-size: 4rem;
}

@media (max-width: 1000px) {
  .country-header__name {
    font-size: 10rem;
  }
  
  .country-header__capital {
    font-size: 3rem;
  }  
}

@media (max-width: 700px) {
  .country-header__name {
    font-size: 9rem;
  }
  
  .country-header__capital {
    font-size: 2.5rem;
  }  
}

@media (max-width: 450px) {
  .country-header__name {
    font-size: 6rem;
  }
  
  .country-header__capital {
    font-size: 2rem;
  }  
}

