.text__greeting {
  font-size: 10rem;
  color: #ebebeb68;

  @media (max-width: 800px) {
    font-size: 8rem;
  }

  @media (max-width: 600px) {
    font-size: 4rem;
    color: #87878793;
  }
}

.text-section {
  padding: 40px 0;
  background: linear-gradient(-45deg, #275775, #3a1f75, #560d7d, #056a79);  
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  @media (max-width: 600px) {
    padding: 60px 0;
    background: #fff;
  }
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

