.search {
  width: 250px;
  position: relative;

  &__input {
    padding-left: 13px;
    padding-right: 25%;
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 14px; 
    width: 100%; 

    &:placeholder {
      color: #747D88;
    }
  }

  &__btns {
    position: absolute; 
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
  }

  &__btn {
    width: 40px;
    height: 100%;
    background: linear-gradient(180deg, #F27A54 0%, #A154F2 100%);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}